.hope_timeline-container {
    box-sizing: border-box;
    padding: 0 0.5em;

    .hope_timeline-item {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .timeline-header {

            .image-wrapper {
                width: 100%;
                height: 300px;
                overflow: hidden;
            }
        }

        .timeline-text {
            h1 {
                font-size: 2.5em;
            }
        }
    }
}