// =======================================================

//    Variables

// =======================================================
@width_content: 1440px;




// =======================================================

//    Responsive Padding + Positioning

// =======================================================


// -----------------------------------------

//  Guarded Mixins


.reverse-max-padding-horizontal (@padding, @max, @offset: 0) when (@padding > @max) {
  margin-left: -1 * @max + @offset;
  margin-right: -1 * @max + @offset;
}

.reverse-responsive-padding-horizontal (@padding, @offset: 0) {
  @media screen and (max-width: 1024px) {
    .reverse-max-padding-horizontal (@padding, @paddingXL, @offset);
  }
  @media screen and (max-width: 960px) {
    .reverse-max-padding-horizontal (@padding, @paddingL, @offset);
  }
  @media screen and (max-width: 768px) {
    .reverse-max-padding-horizontal (@padding, @paddingM, @offset);
  }
  @media screen and (max-width: 640px) {
    .reverse-max-padding-horizontal (@padding, @paddingS, @offset);
  }
}


// -----------------------------------------
