.Index-page-image:before{
    background-color: rgba(15, 6, 6, 0.2);
}




@home-max-width-SM: 640px;
@home-max-width-MD: 960px;
@home-max-width-LG: 1280px;

@home-padding-top-SM: 120px;
@home-padding-top-MD: 240px;
@home-padding-top-LG: 360px;
@home-padding-top-XL: 480px;

@home-border-width-SM: 7em;
@home-border-width-MD: 12em;
@home-border-width-LG: 15em;
@home-border-width-XL: 20em;

@section_bg_1: #C85B6C;
@section_bg_2: #FE7568;
@section_bg_3: #FCCA6C;
@section_bg_4: #548FCC;
@section_bg_5: #315B8A;


#home-connect,
#home-media,
#home-serve {
    text-shadow: 1px 1px #0f0f0f;

    .Index-page-content,
    .Index-page-content{
        max-width: 100%;
        padding-top: @home-padding-top-XL;
        padding-right: 2em;
        padding-left: 2em;
        padding-bottom: 0;

        @media screen and (max-width: @home-max-width-LG){
            padding-top: @home-padding-top-LG;
        }
        @media screen and (max-width: @home-max-width-MD){
            padding-top: @home-padding-top-MD;
        }
        @media screen and (max-width: @home-max-width-SM){
            padding-top: @home-padding-top-SM;
        }
    }

    &::before,
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        border-width: @home-border-width-XL;
        border-color: transparent;
        border-style: solid;

        @media screen and (max-width: @home-max-width-LG){
            border-width: @home-border-width-LG;
        }
        @media screen and (max-width: @home-max-width-MD){
            border-width: @home-border-width-MD;
        }
        @media screen and (max-width: @home-max-width-SM){
            border-width: @home-border-width-SM;
        }
    }

    @media screen and (max-width: @home-max-width-MD){
        border-bottom: 0.75em solid #e0e0e0;
    }
    @media screen and (max-width: @home-max-width-SM){
        border-bottom: 0.5em solid #e0e0e0;
    }
}


#home-connect {
    border-bottom: 1em solid @section_bg_1;

    &::before {
        left: 0;
        border-left-color: @section_bg_1;
        border-bottom-color: @section_bg_1;
    }
}

#home-media {
    border-bottom: 1em solid @section_bg_3;

    &::before {
        right: 0;
        border-right-color: @section_bg_3;
        border-bottom-color: @section_bg_3;
    }
}

#home-serve {
    border-bottom: 1em solid @section_bg_5;

    &::before {
        left: 0;
        border-left-color: @section_bg_5;
        border-bottom-color: @section_bg_5;
    }
}





