// =======================================================
//    Mixins
// =======================================================

.bottom-left-corner-css-triangle (@color) {
    border-bottom: 1em solid @color;

    &::after {
        left: 0;
        border-left-color: @color;
        border-bottom-color: @color;
    }
}

.bottom-right-corner-css-triangle (@color) {
    border-bottom: 1em solid @color;

    &::after {
        right: 0;
        border-right-color: @color;
        border-bottom-color: @color;
    }
}

.bottom-corner-css-triangle () {
    text-shadow: 1px 1px #0f0f0f;

    .Index-page-content,
    .Index-page-content{
        max-width: 100%;
        padding-top: @home-padding-top-XXL;
        padding-bottom: 0;        

        @media screen and (max-width: @home-max-width-XL){
            padding-top: @home-padding-top-XL;
            h1{ font-size: 45px; }
            h3{ font-size: 24px; }
        }
        @media screen and (max-width: @home-max-width-LG){
            padding-top: @home-padding-top-LG;
            h1{ font-size: 36px; }
            h3{ font-size: 20px; }
        }
        @media screen and (max-width: @home-max-width-MD){
            padding-top: @home-padding-top-MD;
            h1{ font-size: 27px; }
            h3{ font-size: 18px; }
        }
        @media screen and (max-width: @home-max-width-SM){
            h1{ font-size: 27px; }
            h3{ font-size: 18px; }
        }
    }

    &::after,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        border-width: @home-border-width-XXL;
        border-color: transparent;
        border-style: solid;

        @media screen and (max-width: @home-max-width-XL){
            border-width: @home-border-width-XL;
        }
        @media screen and (max-width: @home-max-width-LG){
            border-width: @home-border-width-LG;
        }
        @media screen and (max-width: @home-max-width-MD){
            border-width: @home-border-width-MD;
        }
        @media screen and (max-width: @home-max-width-SM){
            border-width: @home-border-width-SM;
        }
    }

    @media screen and (max-width: @home-max-width-MD){
        border-bottom: 0.75em solid #e0e0e0;
    }
    @media screen and (max-width: @home-max-width-SM){
        border-bottom: 0.5em solid #e0e0e0;
    }
}

// =======================================================



.Index-page-image:before{
    background-color: rgba(15, 6, 6, 0.3);
}


#home-connect,
#home-media,
#home-serve {
    .bottom-corner-css-triangle();
}


#home-connect {
    .bottom-left-corner-css-triangle(@color__adobe1);
}

#home-media {
    .bottom-right-corner-css-triangle(@color__adobe3);
}

#home-serve {
    .bottom-left-corner-css-triangle(@color__adobe5);
}





