// =======================================================
//    Variables
// =======================================================
@width_content: 1440px;


// =======================================================
//    Sizes
// =======================================================
@home-max-width-SM: 640px;
@home-max-width-MD: 960px;
@home-max-width-LG: 1280px;
@home-max-width-XL: 1440px;

@home-padding-top-MD: 120px;
@home-padding-top-LG: 240px;
@home-padding-top-XL: 360px;
@home-padding-top-XXL: 480px;

@home-border-width-SM: 10em;
@home-border-width-MD: 13em;
@home-border-width-LG: 17em;
@home-border-width-XL: 20em;
@home-border-width-XXL: 25em;


// =======================================================
//    Color Palette
// =======================================================
@nav_bg: rgba(71,145,210,1);


// https://color.adobe.com/paleta001-color-theme-13608531
@color__adobe1: #C85B6C;
@color__adobe2: #FE7568;
@color__adobe3: #FCCA6C;
@color__adobe4: #548FCC;
@color__adobe5: #315B8A;


// =======================================================
//    Global
// =======================================================
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

// =======================================================
//    Full Bleed Effect
// =======================================================
.sermons-full-bleed-horizontal (@padding, @max) when (@padding > @max) {
  left: -@max;
}

.sermons-reverse-responsive-padding-horizontal (@padding) {
    @media screen and (max-width: 1440px) {
        left: -100px;
    }
    @media screen and (max-width: 1024px) {
        .sermons-full-bleed-horizontal (@padding, @paddingXL);
    }
    @media screen and (max-width: 960px) {
        .sermons-full-bleed-horizontal (@padding, @paddingL);
    }
    @media screen and (max-width: 768px) {
        .sermons-full-bleed-horizontal (@padding, @paddingM);
    }
    @media screen and (max-width: 640px) {
        .sermons-full-bleed-horizontal (@padding, @paddingS);
    }
}



// =======================================================
//    Grid System
// =======================================================
.col {
    float: left;
    padding-left: 1.5%;
    padding-right: 1.5%;
    box-sizing: border-box;
}

.col--1{ width: 1 / 12 * 100%; }
.col--2{ width: 2 / 12 * 100%; }
.col--3{ width: 3 / 12 * 100%; }
.col--4{ width: 4 / 12 * 100%; }
.col--5{ width: 5 / 12 * 100%; }
.col--6{ width: 6 / 12 * 100%; }
.col--7{ width: 7 / 12 * 100%; }
.col--8{ width: 8 / 12 * 100%; }
.col--9{ width: 9 / 12 * 100%; }
.col--10{ width: 10 / 12 * 100%; }
.col--11{ width: 11 / 12 * 100%; }
.col--12{ width: 12 / 12 * 100%; }





// =======================================================
//    Override / Add to existing stylesheet
// =======================================================
.Main {
    overflow: hidden;
}


