.is_hidden {
    display: none !important;
    visibility: hidden !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}





.hope_blog-index {
    position: absolute;
    width: 50%;
    
    .hope_blog-container {
        padding: 1em;
        background-color: #ededed;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: scroll;
        
        .index_item {
            display: block;
            position: relative;
            height: 330px;
            margin-bottom: 30px;
            overflow: hidden;
            background-color: transparent;
            

            .index_link {
                display: block;
                height: 100%;
                width: 100%;
                background-color: #fff;
                border-bottom: 2px solid rgba(0,0,0,.2);
                box-sizing: border-box;
                -webkit-backface-visibility: hidden;

                .hope_thumbnail {
                    width: 100%;
                    height: 65%;
                    overflow: hidden;
    
                    .hope_no_image {
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: lightgray;
                    }
    
                    .hope_image-wrapper {
                        width: 120%;
                        height: 120%;
                        margin-left: -10%;
                        margin-top: -5%;
                        transition-property: all;
                        transition-duration: .4s;
                        transition-timing-function: cubic-bezier(.33,0,.2,1);
                        -transition-delay: 0;
                    }
                }

                .index_context {
                    display: block;
                    height: 20%;
                    padding: 0.5em;
                    overflow: hidden;

                    h1 {
                        display: block;
                        font-size: 1.5rem;
                        text-transform: none;
                    }
                }

            } 
        } 


    } 
} 