.sermons-index-item {

    .sermons-header:after {
        display: block;
        content: '';
        border-top: 1px solid lightgrey;
        margin: 0 -100px;
    }

    .sermons-title {
        font-size: 3.5em;
    }

    .published-year {
        font-size: 16px;
        color: lightgrey;
    }
}