
// =======================================================

//    Responsive Padding + Positioning

// =======================================================


// -----------------------------------------

//  Guarded Mixins


.max-padding-horizontal-neg (@padding, @max, @offset: 0) when (@padding > @max) {
  margin-left: -1 * @max + @offset;
  margin-right: -1 * @max + @offset;
}


.reverse-responsive-padding-horizontal (@padding, @offset: 0) {
  @media screen and (max-width: 1024px) {
    .max-padding-horizontal-neg (@padding, @paddingXL, @offset);
  }
  @media screen and (max-width: 960px) {
    .max-padding-horizontal-neg (@padding, @paddingL, @offset);
  }
  @media screen and (max-width: 768px) {
    .max-padding-horizontal-neg (@padding, @paddingM, @offset);
  }
  @media screen and (max-width: 640px) {
    .max-padding-horizontal-neg (@padding, @paddingS, @offset);
  }
}



.cat-index {
    margin-bottom: 5em;

    .cat-index-wrap{
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        .cat-item {
            display: inline-block;
            margin-right: 1.5em;

            a {
                color: #d0d0d0;
                font-weight: 600;

                &:hover,
                &.active{
                    color: #121212;
                    text-decoration: underline;
                }
            }
        }
    }
}


.sermons-index-item {
    margin-bottom: 5em;

    .sermons-header {
        position: relative;
        padding-bottom: 0.5em;
        margin-bottom: 2.5em;
        box-sizing: border-box;

        &:after {
            display: block;
            position: absolute;
            content: '';
            right: 0;
            bottom: 0;
            left: 0;
            border-top: 1px solid lightgrey;
            margin: 0 -100px;
            .reverse-responsive-padding-horizontal(@tweak-site-side-padding);

        }
    }


    .sermons-title {
        margin: 0;
        line-height: 1.1;
        text-transform: none;

        @media screen and (min-width: 641px) {
            font-size: 3em;
        }
    }

    .sermons-cat-index {
        display: inline-block;
        margin-top: 0.5em;

        a:hover {
            font-weight: 600;
            text-decoration: underline;
        }
    }
}